#float1 {
    float: right;
    width: 500px;
}

.clear {
    clear: both;
}

figure {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    display: block;
    background-color: navy;
    color: white;
    border-bottom: thin solid white;
    padding: 10px 20px;
    float: left;
    margin-left: 10px;
}

nav a:hover {
    background-color: blueviolet;
}