header {
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 8px;
}

header h1 {
    margin: 0px;
}

nav {
    display: none;
}

.container {
    display: flex;
    flex: row wrap;
}

.cebu {
    width: 25%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(50,50,50,0.5);
    margin: 10px;
}

.cebu img {
    width: 100%;
}

.cebu figcaption h2, p{
    display: inline;
}